data/*
!data/possession_to_video
!data/possession_to_video/*

data/youtube/*
!data/youtube
!data/youtube/youtube_urls.csv

!data/possession_annotations
!data/possession_annotations/*

!data/all_games.txt

*.wheels

*__pycache__

launch.json
*.pt